---
import { DEFAULT_LOCALE } from "@/i18n";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getFileNameFromPath,getLangFromPath } from "@/common";
import Image from "astro/components/Image.astro";

const currentLocale = Astro.currentLocale || DEFAULT_LOCALE;

const blog = await getCollection("blog");

const posts = blog
    .filter((post) => getLangFromPath(post.filePath) === currentLocale)
    .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---
<div class="max-w-4xl mx-auto bg-gray-900 text-gray-100">
    <h1 class="text-center py-10 text-3xl font-black text-white">Blogs</h1>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {posts.map((post) => (
            <li class="flex flex-col bg-gray-800 rounded-lg shadow-md overflow-hidden">
                {post.data.image && (
                    <a href={getRelativeLocaleUrl(currentLocale, `/blog/${getFileNameFromPath(post.filePath) ?? ""}`)}>
                        <Image
                            src={post.data.image}
                            alt={post.data.title}
                            class="w-full h-48 object-cover"
                            loading="lazy"
                        />
                    </a>
                )}
                <div class="p-5 flex flex-col flex-1">
                    <a
                        href={getRelativeLocaleUrl(currentLocale, `/blog/${getFileNameFromPath(post.filePath) ?? ""}`)}
                        class="block text-gray-100 font-semibold text-lg hover:underline underline-offset-8 decoration-blue-400 decoration-2 mb-2"
                        title={post.data.title}
                    >
                        {post.data.title}
                    </a>
                    <span class="text-sm text-gray-400 font-mono mt-auto">
                        {new Date(post.data.date).toLocaleDateString()}
                    </span>
                </div>
            </li>
        ))}
    </ul>
</div>
