---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "@/consts";
import { LOCALES, useTranslations, type Lang } from "@/i18n";

const t = useTranslations(Astro.currentLocale as Lang);

const { title="" } = Astro.props
const { description="" } = Astro.props ;

---

<!doctype html>
<html lang={LOCALES[Astro.currentLocale as string].lang}>
    <head>
        <BaseHead title={SITE_TITLE+" - "+t(title)} description={t(description)} />
    </head>
    <body class="bg-gray-900 text-white">
        <Header />
        <main class="container mx-auto px-4 py-8">
            <slot></slot>
        </main>
        <Footer />
    </body>
</html>
