---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import "../styles/global.css";

const t = useTranslations(Astro.currentLocale as Lang);

const { title=SITE_TITLE } = Astro.props
const { description=SITE_DESCRIPTION } = Astro.props ;

---

<!doctype html>
<html lang={LOCALES[Astro.currentLocale as string].lang}>
    <head>
        <BaseHead title={t(title)} description={t(description)} />
    </head>
    <body>
        <Header />
        <main class="container mx-auto px-4 py-8">
            <slot></slot>
        </main>
        <Footer />
    </body>
</html>
